/* UI element states pseudo-classes ------------ */

/*
 Like user-action pseudo classes, CSS has UI element states pseudo-classes that let us target elements based on user interaction states.

 Using :disabled and :checked
To target a disabled input element, we can write:

input:disabled {
  background-color: grey;
}
To target a radio button or checkbox when checked, we can write:

:checked {
  border-color: red;
}

*/

input:focus, 
textarea:focus {
   border-color: #52bab3; 
}

input:disabled {
    background: #ddd;
}

input[type="checkbox"]:checked + label {
    font-weight: bold;
   
}