/*:root and :target Pseudo classes*/
/*#
:root selects the highest-level parent element in a document, and :target selects an element when it's the target of a link.
*/

:root {
    background: #e3effb;
}

:target {
    background: #384047;
    color: white;
}

#col-c:target {
    background: #eff1f2;
    color: initial;
    -webkit-box-shadow: 0 0 6px rgba(0,0,0, .2);
    box-shadow: 0 0 6px rgba(0,0,0, .2);
}

/*:not() – The Negation Pseudo-Class*/
/*
 The :not() pseudo-class is referred to as a negation pseudo-class because it selects everything except the element we specify in the selector.

 Using :not().....
 This selector targets all input elements that do not have a type value of button:

    input:not([type="button"]) {
      border-color: blue;
    }
*/

/*
div:not(#col-a) {
    border: solid 1px red;
}
*/

input:not([type="submit"]) {
/*    border: solid 1px red;*/
    -webkit-box-shadow:;
    box-shadow: inset 0 2px 0 rgba(0,0,0, .15);
}

.col:not(:first-child),
nav a:not(:first-child) {
    margin-left: 15px;
}

















